@charset "UTF-8";

html {
  margin: 10 !important;
  overflow: auto !important;
}

body {
  color: #5E5C7F;
  background-color: #F9F9FF;
  font-family: "VarelaRound-Regular", sans-serif;
  font-size: 16px;
  line-height: 1.7;
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

img {
  max-width: 100%;
  height: auto;
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.relative {
  position: relative;
}

.social-container {
  position: absolute;
  left: 20rem;
  bottom: 42rem;
}

.social-container i {
  font-size: 2rem;
  margin-right: 0.25rem;
  color: F0FFFF;
}

h1, h2, h3, h4, h5, h6 {
  color: #454360;
  font-family: "VarelaRound-Regular", sans-serif;
  font-weight: 700;
  width: 530px;
  margin: auto;
}

h1 {
  font-size: 36px;
}

h2 {
  font-size: 28px;
}

h3 {
  font-size: 24px;
}

h4 {
  font-size: 18px;
}

section {
  padding-top: 110px;
  position: relative;
}

.section-title {
  margin-left: auto;
  margin-right: auto;
  width: 1006px;
  text-align: center;
}
.section-title:before {
  content: "";
  background-image: url(../images/dots-bg.svg);
  display: block;
  height: 37px;
  left: -14px;
  top: -14px;
  position: absolute;
  width: 37px;
}

.kimim {
  margin-left: auto;
  margin-right: auto;
  width: 1006px;
  text-align: center;
}

.istersen {
  margin-left: auto;
  margin-right: auto;
  width: 500px;
  text-align: center;
}

.spacer {
  clear: both;
}
